<div class="flex justify-center flex-wrap pt-5">
    <!-- Carousel Section -->
    <div class="w-full md:w-3/12 sm:w-5/12">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="assets/images/41nN4nvKaAL._AC_SY200_.jpg" alt="Product 1">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/61cSNgtEISL._AC_SY200_.jpg" alt="Product 2">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/XCM_Manual_1396328_4379574_Egypt_EG_BAU_GW_DC_SL_Jewelry_379x304_1X._SY304_CB650636675_.jpg" alt="Jewelry">
            </ng-template>
        </owl-carousel-o>
    </div>

    <!-- Image Section -->
    <div class="w-full md:w-3/12 sm:w-5/12 h-full">
        <img src="assets/images/XCM_Manual_1396328_4379575_Egypt_EG_BAU_GW_DC_SL_Bags_Wallets_379x304_1X._SY304_CB650636675_.jpg" class="h-[250px]">
        <img src="assets/images/XCM_Manual_1533480_5305769_379x304_1X._SY304_CB616236518_.jpg" alt="Grocery Banner 2" class="h-[250px]">
    </div>
</div>
