<section *ngIf="step==1"  class="w-[60%] mx-auto bg-slate-100 p-10 my-20">
    <h1 class="text-2xl font-semibold mb-3">Rest Password</h1>
    <form [formGroup]="sendemail "  (ngSubmit)="submitemail()">
        <div class="relative my-3">
            <input formControlName="email"  type="text" id="user_email"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900
                bg-transparent rounded-lg border-1 border-gray-300
                appearance-none dark:text-white dark:border-gray-600
                dark:focus:border-green-500 focus:outline-none focus:ring-0
                focus:border-green-600 peer" placeholder=" " />
            <label for="user_email" class="absolute text-sm text-gray-500
                dark:text-gray-400 duration-300 transform -translate-y-4
                scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2
                peer-focus:px-2 peer-focus:text-green-600
                peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100
                peer-placeholder-shown:-translate-y-1/2
                peer-placeholder-shown:top-1/2 peer-focus:top-2
                peer-focus:scale-75 peer-focus:-translate-y-4
                rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto
                start-1">Email</label>
        </div>
        <div *ngIf="this.sendemail.get('email')?.errors && this.sendemail.get('email')?.touched" class="border border-red-400 bg-red-100 text-red-700 rounded-lg p-5 my-5">
            <p *ngIf="this.sendemail.get('email')?.errors?.['required']">email is required</p>
            <p *ngIf="this.sendemail.get('email')?.errors?.['email']">email must be valid</p>
        </div>
        <button  type="submit" class="text-white bg-green-700 hover:bg-green-800
        focus:ring-4 focus:outline-none focus:ring-green-300 font-medium
        rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
        dark:bg-green-600 dark:hover:bg-green-700
        dark:focus:ring-green-800 mt-8">
        send Email</button>
    </form>
</section>

<section *ngIf="step==2"  class="w-[60%] mx-auto bg-slate-100 p-10 my-20">
    <h1 class="text-2xl font-semibold mb-3">Rest Password</h1>
    <form [formGroup]="sendcode" (ngSubmit)="submitcode()">
        <div class="relative my-3">
            <input formControlName="resetCode"  type="text" id="user_code"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900
                bg-transparent rounded-lg border-1 border-gray-300
                appearance-none dark:text-white dark:border-gray-600
                dark:focus:border-green-500 focus:outline-none focus:ring-0
                focus:border-green-600 peer" placeholder=" " />
            <label for="user_code" class="absolute text-sm text-gray-500
                dark:text-gray-400 duration-300 transform -translate-y-4
                scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2
                peer-focus:px-2 peer-focus:text-green-600
                peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100
                peer-placeholder-shown:-translate-y-1/2
                peer-placeholder-shown:top-1/2 peer-focus:top-2
                peer-focus:scale-75 peer-focus:-translate-y-4
                rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto
                start-1">code</label>
        </div>
        <div *ngIf="this.sendcode.get('resetCode')?.errors && this.sendcode.get('resetCode')?.touched" class="border border-red-400 bg-red-100 text-red-700 rounded-lg p-5 mb-4">
            <p *ngIf="this.sendcode.get('resetCode')?.errors?.['required']">resetCode is required</p>
            <p *ngIf="this.sendcode.get('resetCode')?.errors?.['pattern']">resetCode must be valid</p>
        </div>

        <button  type="submit" class="text-white bg-green-700 hover:bg-green-800
        focus:ring-4 focus:outline-none focus:ring-green-300 font-medium
        rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
        dark:bg-green-600 dark:hover:bg-green-700
        dark:focus:ring-green-800">
        send code</button>
    </form>
</section>

<section *ngIf="step==3"  class="w-[60%] mx-auto bg-slate-100 p-10 my-20">
    <h1 class="text-2xl font-semibold mb-3">Rest Password</h1>
    <form [formGroup]="restpassword"  (ngSubmit)="submitpassword()">
        <div class="relative my-3">
            <input formControlName="email"  type="email" id="user_email"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900
                bg-transparent rounded-lg border-1 border-gray-300
                appearance-none dark:text-white dark:border-gray-600
                dark:focus:border-green-500 focus:outline-none focus:ring-0
                focus:border-green-600 peer" placeholder=" " />
            <label for="user_email" class="absolute text-sm text-gray-500
                dark:text-gray-400 duration-300 transform -translate-y-4
                scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2
                peer-focus:px-2 peer-focus:text-green-600
                peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100
                peer-placeholder-shown:-translate-y-1/2
                peer-placeholder-shown:top-1/2 peer-focus:top-2
                peer-focus:scale-75 peer-focus:-translate-y-4
                rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto
                start-1">Email</label>
        </div>
        <div *ngIf="this.restpassword.get('email')?.errors && this.restpassword.get('email')?.touched" class="border border-red-400 bg-red-100 text-red-700 rounded-lg p-5 mb-4">
            <p *ngIf="this.restpassword.get('email')?.errors?.['required']">email is required</p>
            <p *ngIf="this.restpassword.get('email')?.errors?.['email']">email must be valid</p>
        </div>
        <div class="relative my-3">
            <input formControlName="newPassword" type="password" id="user_pass"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900
                bg-transparent rounded-lg border-1 border-gray-300
                appearance-none dark:text-white dark:border-gray-600
                dark:focus:border-green-500 focus:outline-none focus:ring-0
                focus:border-green-600 peer" placeholder=" " />
            <label for="user_pass" class="absolute text-sm text-gray-500
                dark:text-gray-400 duration-300 transform -translate-y-4
                scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2
                peer-focus:px-2 peer-focus:text-green-600
                peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100
                peer-placeholder-shown:-translate-y-1/2
                peer-placeholder-shown:top-1/2 peer-focus:top-2
                peer-focus:scale-75 peer-focus:-translate-y-4
                rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto
                start-1">Password</label>
        </div>
        <div *ngIf="this.restpassword.get('restPassword')?.errors && this.restpassword.get('restPassword')?.touched" class="border border-red-400 bg-red-100 text-red-700 rounded-lg p-5 mb-4">
            <p *ngIf="this.restpassword.get('restPassword')?.errors?.['required']">restPassword is required</p>
            <p *ngIf="this.restpassword.get('restPassword')?.errors?.['restPassword']">restPassword must be valid</p>
        </div>


        <button  type="submit" class="text-white bg-green-700 hover:bg-green-800
        focus:ring-4 focus:outline-none focus:ring-green-300 font-medium
        rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
        dark:bg-green-600 dark:hover:bg-green-700
        dark:focus:ring-green-800">
        Rest Password</button>
    </form>
</section>